body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;

}
h1{
    color: rgb(163, 151, 240);
    padding: 20px 30px;
    text-align: center;
    padding-top: 300px;
    font-size: 60px;
    font-weight: 600px;
}
p{
    color: rgb(95, 166, 228);
    text-align: center;
    font-size: 25px;


}
.number-one{
    background-image: url(donate-today-main/images/donation7.jpg);
    height: 700px;
    
}
.linkbutton{
    text-decoration: none;
    background-image:linear-gradient(orange,rgb(221, 103, 82));
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 6px;
    size: justify;
    text-align: center;
    

}
.number-two{
    background-color: white;
    height: 350px;
}
h2{
    color: black;
    text-align: center;
    
    font-weight: 700px;
    font-size: 70px;
}
.p1{
    color:black;
    text-align: center;
    position:absolute;
    font-size: 20px;
   
    right:465px;
    bottom: -245px;
   
}
.section-class{
display: flex;

padding-left: 90px;

padding-top: 40px;
}
.donate{
  
    background-color: rgba(245, 245, 245, 0.833);
    align-items: center;
    position: relative;
    width: 280px;
    border-radius: 40px;

}
#donate1{
    border-radius: 40px;
    background-color: rgb(254, 225, 225);
    border-color: rgb(23, 151, 221);
    position: relative;
    width: 290px;
    
}
h5{
    color:black;
    
    text-align: center;
    padding: 0px;
   
    font-size: 30px;
    font-weight: 400px;
}
.number-three{
    background-color: white;
    height: 1000px;
    margin-right: 10px
    
}
.third-div{
    width: 390px;
    height: 520px;
   
    background-color: rgb(227, 245, 248);
    
    border-radius: 5px;
    margin-left: 20px;
}
.third-div img{
    width: 30%;
    margin-right: 10px;
}
.colour1{
    background-color: rgb(248, 224, 238);
}
.colour2{
    background-color:rgb(244, 217, 217);
}
.four-sec{
    display: flex;
    margin-bottom: 140px;
}
.four-div1{
    width 50%;
    padding-left: 5%;
}
.four-div1 img{
    width: 70%;
    margin-right: 20px;
    margin-top: 220px;
}
.last-footer{
    background-color: black;
    height: 90px;
    width: 100%;
}
#fotter-text{
    color: orangered;
    font-weight: 400px;
}